@model ProyectoFinal_ClinicaBelen.Models.Reservacion

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Reservacion</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-primary mt">
        <div class="box-header">
            <h4>Crear Reservación</h4>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Reservacion)

        <div class="box-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Titulo_reservacion, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Titulo_reservacion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa el titulo de la reservación" } })
                    @Html.ValidationMessageFor(model => model.Titulo_reservacion, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Nota_reservacion, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Nota_reservacion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa la nota de la reservación" } })
                    @Html.ValidationMessageFor(model => model.Nota_reservacion, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa la dirección de la resevación" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Fecha_creado, htmlAttributes: new { @class = "control-label" })
                    <input type="text" id="Fecha_creado" name="Fecha_creado" value="@ViewBag.FechaCreado" class="form-control" required />
                    @Html.ValidationMessageFor(model => model.Fecha_creado, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Fecha_cita, htmlAttributes: new { @class = "control-label" })
                    <input type="text" class="form-control" id="Fecha_cita" name="Fecha_cita" value="@ViewBag.FechaCita">
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Sintomas, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Sintomas, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa los sintomas del paciente" } })
                    @Html.ValidationMessageFor(model => model.Sintomas, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Medicamentos, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Medicamentos, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa los medicamentos ingeridos por el paciente" } })
                    @Html.ValidationMessageFor(model => model.Medicamentos, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa el precio de la reservación" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Id_Medico, "Medico", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("Id_Medico", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Medico, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Id_Paciente, "Paciente", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("Id_Paciente", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Paciente, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Id_EstadoReservacion, "Estado Reservacion", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("Id_EstadoReservacion", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_EstadoReservacion, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.Id_TipoDePago, "Tipo DePago", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("Id_TipoDePago", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_TipoDePago, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="box-footer">
            <input type="submit" value="Editar" class="btn btn-success" />
        </div>

    </div>
}

<div class="mt">
    @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "glyphicon glyphicon-arrow-left btn btn-warning" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
