@model IEnumerable<ProyectoFinal_ClinicaBelen.Models.Reservacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstadoPago.EstadoDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoReservacion.EstadoDeCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medico.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo_reservacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota_reservacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_creado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_cita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_cita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sintomas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicamentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoPago.EstadoDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoReservacion.EstadoDeCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo_reservacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota_reservacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_creado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_cita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_cita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sintomas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicamentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Reservacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Reservacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Reservacion })
        </td>
    </tr>
}

</table>
