@model ProyectoFinal_ClinicaBelen.Models.EstadoPago

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-primary mt">

        <div class="box-header">
            <h4>Crear Estado de Pago</h4>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="box-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 mb-3">
                    @Html.LabelFor(model => model.EstadoDePago, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EstadoDePago, new { htmlAttributes = new { @class = "form-control", @placeholder="Ingresa el estado de pago" } })
                    @Html.ValidationMessageFor(model => model.EstadoDePago, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="box-footer">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </div>
}

<div class="mt">
    @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "glyphicon glyphicon-arrow-left btn btn-warning" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
