@model IEnumerable<ProyectoFinal_ClinicaBelen.Models.EstadoPago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstadoDePago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoDePago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_TipoDePago }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_TipoDePago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_TipoDePago })
        </td>
    </tr>
}

</table>
