@model ProyectoFinal_ClinicaBelen.Models.Medico

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/EstiloDetalles.css" rel="stylesheet" />
<!--<link href="~/Content/EstiloDetalles2.css" rel="stylesheet" />-->
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
        ul.timeline:before {
            content: ' ';
            background: #d4d9df;
            display: inline-block;
            position: absolute;
            left: 29px;
            width: 2px;
            height: 100%;
            z-index: 400;
        }
        ul.timeline > li {
            margin: 1px 0;
            padding-left: 60px;
        }
            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
</style>
<div class="container">
    <br />
    <div class="timeline">

        <article class="panel panel-primary">

            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-info-sign"></i>
            </div>

            <div class="panel-heading">
                <h2 class="panel-title">Detalles Medicos</h2>
            </div>

            <div class="panel-body">

                <div>                    
                    <dl class="dl-horizontal">

                        <ul class="timeline">
                            <li>
                                <a  href="#">@Html.DisplayNameFor(model => model.CategoriaMedico.NombreCategoria)</a>

                                <p>@Html.DisplayFor(model => model.CategoriaMedico.NombreCategoria)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.Nombres)</a>
                                <p>@Html.DisplayFor(model => model.Nombres)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.Apellidos)</a>
                                <p>@Html.DisplayFor(model => model.Apellidos)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.Genero)</a>
                                <p>@Html.DisplayFor(model => model.Genero)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.FechaNacimiento)</a>
                                <p>@Html.DisplayFor(model => model.FechaNacimiento)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.Email)</a>
                                <p>@Html.DisplayFor(model => model.Email)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.Direccion)</a>
                                <p>@Html.DisplayFor(model => model.Direccion)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.Movil)</a>
                                <p>@Html.DisplayFor(model => model.Movil)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.Fecha_Creacion)</a>
                                <p>@Html.DisplayFor(model => model.Fecha_Creacion)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.Numero_documento)</a>
                                <p>@Html.DisplayFor(model => model.Numero_documento)</p>
                            </li>
                            <li>
                                <a href="#">@Html.DisplayNameFor(model => model.IsActive)</a>
                                <p>@Html.DisplayFor(model => model.IsActive)</p>
                            </li>
                        </ul>                        
                    </dl>
                </div>
            </div>

            <div class="panel-footer">
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Medico }) |
                    @Html.ActionLink("Regresar", "Index")
                </p>
            </div>

        </article>
    </div>

</div>







