@model IEnumerable<ProyectoFinal_ClinicaBelen.Models.EstadoReservacion>

@{
    ViewBag.Title = "Index";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/datatables.min.css" />

<input type="hidden" id="txtOcultar" value="@ViewBag.Accion" />
<div class="box box-primary" style="margin-top:20px;">
    <div class="box-header">
        <h4 class="box-title">Estado de reservaciones</h4>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-success" name="btnCrear" id="btnCrear" onclick="Crear()">
                <i class="fa-thin fa-plus"></i> Crear Nuevo
            </button>
        </div>
    </div>

    <div class="box-body">
        <div class="table-responsive">
            <table id="tableIndex" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>N#</th>
                        <th>Estado de cita</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<h4>@ViewBag.ex</h4>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script>
    var Popup, dataTable;
    $(document).ready(function () {
        $.noConflict();
        var table = $('tableIndex').DataTable();
        table = $("#tableIndex").DataTable({
            "ajax": {
                "url": "/EstadoReservaciones/GetData",
                "type": "GET",
                "datatype": "json",
            },
            "columns": [
                { "data": "Id_EstadoReservacion" },
                { "data": "EstadoDeCita" },
                {
                    "data": "Id_EstadoReservacion", "render": function (data) {
                    return "<a class='btn btn-default btn-sm' href='@Url.Action("Edit", "EstadoReservaciones")/" + data + "'><i class='fa fa-pencil'></i></a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"30px"
                },
                {
                    "data": "Id_EstadoReservacion", "render": function (data) {
                        return "<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")> <i class='fa fa-trash'></i></a > ";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"30px"
                    }
            ],
            "language": {
                "url": "@Url.Content("~/Scripts/datatable.es-ES.json")"
                 }
        });
    });
</script>
<script>
    $(document).ready(function () {
        if ($("#txtOcultar").val() == "Insertado") {
            swal("Registro Guardado!", "Datos  guardados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Editado") {
            swal("Registro Editado!", "Datos editados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Eliminado") {
            swal("Registro Eliminado!", "Datos  Eliminados correctamente!", "success");
        }
    });

    function Crear() {
        document.getElementById("btnCrear")
        location.href = "/EstadoReservaciones/Create";
    }

    function Delete(id) {
        var url;
        swal({
            title: "Estas seguro?",
            text: "Si lo eliminas, no podrás recuperarlo!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    url = '@Url.Action("EliminarReservacion", "EstadoReservaciones")/' + id,
                    window.location.href = url;
                    dataTable.ajax.reload();
                } else {
                    swal("Cancelado!");
                }
            });
    }


</script>
